@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
}

.grid-container {
  display: grid;
  grid-template-areas: 
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 3rem;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  grid-area: header;
  background-color: rgb(40, 212, 175);
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: indigo;
  color: white;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center{
  justify-content: center;
}

.row.top{
  justify-content: flex-start;
}

header a{
  color: white;
  padding: 1rem;
  margin: 5px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

a:hover{
  color: coral;
}

a.brand{
  padding-left: 40px;
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
}

a.brand:hover{
  color: teal
}

.featured-products-title{
  text-align: center;
}

.featured-products{
  margin-top: 20px; 
  margin: 30px auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  justify-content: center;
}

.featured-product-item{
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

@media (max-width:1000px){
  .featured-products{
      grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:800px){
  .featured-products{
      grid-template-columns: 1fr;
  }
}

.featured-product-item-image{ 
  height: 200px;
  background-size: cover;
  background-position: center;
  margin: 20px;
}

button{
  border: none;
  outline: none;
  background: black;
  font-family: Roboto, sans-serif;
  color: white;
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  margin: 10px 0;
}

.featured-product-item > .title{ 
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.featured-product-item > .description{ 
  color: #666;
  margin: 10px 0;
}

.featured-product-item > .price{ 
  font-style: italic;
  margin: 10px 0;
}

/* Rating */
.rating span {
  color: #ffb901;
  font-size: 1.8rem;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #444444;
  font-size: 1.1rem;
}

a > .rating > span:last-child {
  color: #0000ff;
}

.product-container{
   display: grid; 
  /* grid-area: auto;*/
  grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) ); 
  /* height:900px; */
  /* justify-content: center; */
}

.product-container-img{
}

.product-container-img img{
  width: 100%;
  padding-left: 100px;
}

.product-container-details{
  height:900px;
  padding-left: 100px;
}

@media (max-width:800px) {
  .product-container-img img{
    padding-left: 0;
  }

  .product-container-details{
    padding-left: 0;
  }
}