/* default styling variables - making background color as white */
#root{
    --bg: #ffffff;
    --bg-panel: #ebebeb;
    --color-heading: rgb(27, 168, 14);
    --color-text: #333333;
}

/* dark theme styling - Here, we set data-them as "dark"*/
#root[data-theme='dark'] {
    --bg: #333333;
    --bg-panel: #434343;
    --color-heading: #0077ff;
    --color-text: #B5B5B5;
}